Sonluk.DataAccess.OA/Service References/Seeyon.AffairAPI/affairService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://impl.affair.services.v3x.seeyon.com" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax210="http://services.v3x.seeyon.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:axis2="www.seeyon.com" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="www.seeyon.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>This is the test webservice for Spring/Axis2 Integration</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax212="http://services.v3x.seeyon.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.affair.services.v3x.seeyon.com">
      <xs:import namespace="http://services.v3x.seeyon.com/xsd" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ServiceException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ServiceException" nillable="true" type="ax212:ServiceException" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="exportAgentPendingList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="tokenId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ticketId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstNum" type="xs:int" />
            <xs:element minOccurs="0" name="pageSize" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="exportAgentPendingListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="exportPendingList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="tokenId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ticketId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstNum" type="xs:int" />
            <xs:element minOccurs="0" name="pageSize" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="exportPendingListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="exportTrackList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="tokenId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ticketId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="firstNum" type="xs:int" />
            <xs:element minOccurs="0" name="pageSize" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="exportTrackListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:ax211="http://impl.affair.services.v3x.seeyon.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.v3x.seeyon.com/xsd">
      <xs:import namespace="http://impl.affair.services.v3x.seeyon.com" />
      <xs:complexType name="ServiceException">
        <xs:complexContent mixed="false">
          <xs:extension base="ax211:Exception">
            <xs:sequence>
              <xs:element minOccurs="0" name="errorNumber" type="xs:long" />
              <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="exportAgentPendingListRequest">
    <wsdl:part name="parameters" element="ns:exportAgentPendingList" />
  </wsdl:message>
  <wsdl:message name="exportAgentPendingListResponse">
    <wsdl:part name="parameters" element="ns:exportAgentPendingListResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceException">
    <wsdl:part name="parameters" element="ns:ServiceException" />
  </wsdl:message>
  <wsdl:message name="exportTrackListRequest">
    <wsdl:part name="parameters" element="ns:exportTrackList" />
  </wsdl:message>
  <wsdl:message name="exportTrackListResponse">
    <wsdl:part name="parameters" element="ns:exportTrackListResponse" />
  </wsdl:message>
  <wsdl:message name="exportPendingListRequest">
    <wsdl:part name="parameters" element="ns:exportPendingList" />
  </wsdl:message>
  <wsdl:message name="exportPendingListResponse">
    <wsdl:part name="parameters" element="ns:exportPendingListResponse" />
  </wsdl:message>
  <wsdl:portType name="affairServicePortType">
    <wsdl:operation name="exportAgentPendingList">
      <wsdl:input wsaw:Action="urn:exportAgentPendingList" message="axis2:exportAgentPendingListRequest" />
      <wsdl:output wsaw:Action="urn:exportAgentPendingListResponse" message="axis2:exportAgentPendingListResponse" />
      <wsdl:fault wsaw:Action="urn:exportAgentPendingListServiceException" name="ServiceException" message="axis2:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="exportTrackList">
      <wsdl:input wsaw:Action="urn:exportTrackList" message="axis2:exportTrackListRequest" />
      <wsdl:output wsaw:Action="urn:exportTrackListResponse" message="axis2:exportTrackListResponse" />
      <wsdl:fault wsaw:Action="urn:exportTrackListServiceException" name="ServiceException" message="axis2:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="exportPendingList">
      <wsdl:input wsaw:Action="urn:exportPendingList" message="axis2:exportPendingListRequest" />
      <wsdl:output wsaw:Action="urn:exportPendingListResponse" message="axis2:exportPendingListResponse" />
      <wsdl:fault wsaw:Action="urn:exportPendingListServiceException" name="ServiceException" message="axis2:ServiceException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="affairServiceSoap11Binding" type="axis2:affairServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="exportAgentPendingList">
      <soap:operation soapAction="urn:exportAgentPendingList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportTrackList">
      <soap:operation soapAction="urn:exportTrackList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportPendingList">
      <soap:operation soapAction="urn:exportPendingList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="affairServiceSoap12Binding" type="axis2:affairServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="exportAgentPendingList">
      <soap12:operation soapAction="urn:exportAgentPendingList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap12:fault use="literal" name="ServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportTrackList">
      <soap12:operation soapAction="urn:exportTrackList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap12:fault use="literal" name="ServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportPendingList">
      <soap12:operation soapAction="urn:exportPendingList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap12:fault use="literal" name="ServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="affairServiceHttpBinding" type="axis2:affairServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="exportAgentPendingList">
      <http:operation location="affairService/exportAgentPendingList" />
      <wsdl:input>
        <mime:content part="exportAgentPendingList" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="exportAgentPendingList" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportTrackList">
      <http:operation location="affairService/exportTrackList" />
      <wsdl:input>
        <mime:content part="exportTrackList" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="exportTrackList" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportPendingList">
      <http:operation location="affairService/exportPendingList" />
      <wsdl:input>
        <mime:content part="exportPendingList" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="exportPendingList" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="affairService">
    <wsdl:port name="affairServiceHttpSoap11Endpoint" binding="axis2:affairServiceSoap11Binding">
      <soap:address location="http://192.168.0.13:80/seeyon/services/affairService.affairServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="affairServiceHttpSoap12Endpoint" binding="axis2:affairServiceSoap12Binding">
      <soap12:address location="http://192.168.0.13:80/seeyon/services/affairService.affairServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="affairServiceHttpEndpoint" binding="axis2:affairServiceHttpBinding">
      <http:address location="http://192.168.0.13:80/seeyon/services/affairService.affairServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>